.modal-footer {
	border-top: 0px;
}

.loginModal {
	margin-top: 150px;
}

.footer {
	text-align: center;
}
#username, #password {
	color: #000000;
}
#username:focus, #password:focus {

}
.modal-header h2 {
	text-transform: uppercase;
	color: darkslategrey;
}
#loginBtn {
	color: #ffffff;
	text-transform: uppercase;
}
.btn-primary {
	background-color: darkslategrey;
}
.btn :hover {
	background-color: #204E4F;
}
