<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans

http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="dataSourceBean" class="org.apache.commons.dbcp.BasicDataSource" >
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost/emr"/>
		<property name="username" value="root"/>
		<property name="password" value="root"/>
	</bean>

	<bean id="sessionFactoryBean" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSourceBean"/>
		<property name="mappingResources">
			<list>
				<value>com/Api_Craft/Hibernate/Customer.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<value>hibernate.dialect=org.hibernate.dialect.MySQLDialect
				hibernate.hbm2ddl.auto=update
				hibernate.show_sql=true
			</value>
		</property>
	</bean>

	<bean id="hibernateTemplateBean" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref bean="sessionFactoryBean"/>
		</property>
	</bean>

	<bean id="customerDAOBean" class="com.Api_Craft.dao.CustomerDAO" >
		<property name="hibernateTemplate" ref="hibernateTemplateBean" />
	</bean>

	<bean id="customerActionBean" class="com.Api_Craft.action.CustomerAction" >
		<property name="customerDAO" ref="customerDAOBean" />
	</bean>
</beans>
